@import 'styles/unit.scss';
@import 'styles/common.scss';

.main {
  display: flex;
  .section {
    max-height: calc(100vh - 332px);
    overflow-y: auto;
    padding: 32px 8px;
    flex: 1;
    h2 {
      margin-bottom: rem(38);
      font-size: rem(42);
      color: var(--darkgray-3);
      &.parent_category {
        padding-left: 1.4rem;
        border-left: 4px solid var(--primary-color);
      }
    }
  }
}
.cart {
  position: fixed;
  bottom: rem(20);
  right: rem(12);
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  background-color: var(--mui-palette-info-main);
  color: var(--mui-palette-info-contrastText);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: scale_up 300ms ease;
  .count {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 5px;
    top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: rem(8);
    line-height: rem(10);
    background-color: var(--primary-color);
    color: var(--mui-palette-primary-contrastText);
    border-radius: 50%;
  }
}

.my_orders {
  position: fixed;
  bottom: rem(80);
  right: rem(12);
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  background-color: var(--mui-palette-info-main);
  color: var(--mui-palette-info-contrastText);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  animation: scale_up 300ms ease;
}

.cart_page {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: transparent;
  width: 100vw;
  transform: translateX(100%);
  transition: 300ms ease;
  &.open {
    transform: translateX(0%);
  }
}

@keyframes scale_up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
