@mixin skeleton {
  background-image: linear-gradient(
    to right,
    #f6f7f879 0%,
    #edeef180 10%,
    #f6f7f880 20%,
    #f6f7f880 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
  @keyframes bgPos {
    0% {
      background-position: 50% 0;
    }

    100% {
      background-position: -150% 0;
    }
  }
}

@mixin rotation {
  border-radius: 50%;
  height: auto;
  aspect-ratio: 1/1;
  animation: rotate_anim 10s linear infinite;
  @keyframes rotate_anim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
