@import 'styles/unit.scss';
@import 'styles/media.scss';
@import 'styles/animation.scss';

.cardX {
  max-width: 138px;
  border-bottom: 1px solid #0000000f;
  height: 100%;
  display: flex;
  flex-direction: column;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    .title {
      font-size: rem(12);
      margin-bottom: rem(4);
      font-weight: 700;
      &.loading {
        width: 120px;
        height: 18px;
      }
    }
    .description {
      flex: 1;
      font-size: rem(8);
      margin-bottom: rem(8);
      &.loading {
        width: 80px;
        height: 10px;
      }
    }
    .actions {
      .counter {
        background-color: transparent;
        width: rem(116);
        border-color: #ffd300;
        div {
          padding-top: rem(6);
          padding-bottom: rem(6);
        }
        svg {
          font-size: 20px;
        }
      }
      .price {
        font-size: 12px;
        width: 100%;
        font-weight: 600;
        white-space: nowrap;
        margin-bottom: rem(8);
      }
    }
  }
  &_img {
    overflow: hidden;
    width: rem(86);
    height: rem(86);
    border-radius: rem(8);
    margin-bottom: rem(8);
    position: relative;
    border: 1px solid var(--lightgray-2);
    @include skeleton;
  }

  .loading {
    @include skeleton;
  }
}
// Modal styles
.flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & > div {
    flex: 1;
  }
}
